@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
}

:root [data-theme="skeleton"] {
  --theme-font-family-base: "Metropolis", sans-serif;
  --theme-font-family-heading: "IBM Plex Mono", mono;
}

.dark body {
  background: black url('lib/img/background.png') repeat;
}

@layer components {
  .commented::before {
    @apply absolute top-0 -left-4;
    content: "//";
  }
  .commented {
    @apply relative
  }
}
