@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html, body {
    @apply h-full overflow-hidden;
  }

  body {
    background: black url('lib/img/background.png') repeat;
  }
}

@layer components {
  .commented::before {
    @apply absolute top-0 -left-4;
    content: "//";
  }
  .commented {
    @apply relative
  }

  .a {
    @apply text-secondary-500
  }
}
